* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.btn-secondary {
    background-color: #f857c0;
    color: #ffe5fe;
    padding: 5px 40px;
    font-weight: 700;
}