.intro {
    // height: 70%;
    background-image: url("./../../assets/images/bg-hero-desktop.svg");
    background-color: #ebfbff;

    @media (max-width:768px) {
        background-image: url("./../../assets/images/bg-hero-mobile.svg");
    }

    header {
        .btn-white {
            background-color: white;
            color: $secondary;
            padding: 5px 40px;
            font-weight: 700;
        }

        img {
            @media (max-width : 425px) {
                height: 25px;
            }
        }
    }


}

.mockup-wrapper {
    height: 450px;

    @media (max-width:768px) {
        height: 300px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    @media (max-width:375px) {
        height: 250px;
    }

    .mockup-img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;

        @media (max-width:425px) {
            max-width: 120%;
        }
    }
}


.detail-wrapper {

    h2 {
        font-weight: 700;
        line-height: 1.4;

        span::before {
            content: "\A";
            white-space: pre;
        }
    }
}