.intro {
    // height: 70%;
    background-image: url("../../../assets/images/bg-hero-desktop.svg");
    background-color: #ebfbff;

    @media (max-width:768px) {
        background-image: url("../../../assets/images/bg-hero-mobile.svg");
    }

    header {
        .btn-white {
            background-color: white;
            color: #1c3230;
            border-radius: 18px;
            padding: 5px 40px;
            font-weight: 700;
        }
    }


}

.mockup-wrapper {
    height: 450px;

    @media (max-width:768px) {
        height: 300px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    // display: flex;
    // flex-grow: 1;

    .mockup-img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}


.detail-wrapper {

    h2 {
        font-weight: 700;
        line-height: 1.4;

        span::before {
            content: "\A";
            white-space: pre;
        }
    }
}