.intro {
    height: 70%;
    background-image: url("../../../assets/images/bg-hero-desktop.svg");
    background-color: #ebfbff;

    header {
        .btn-white {
            background-color: white;
            color: #1c3230;
            border-radius: 18px;
            padding: 5px 40px;
            font-weight: 700;
        }
    }

    .mockup-img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
    }

}

.detail-wrapper {
    h2 {
        max-width: 60%;
        font-weight: 700;
        line-height: 1.4;
    }

    .btn-secondary {
        background-color: #f857c0;
        color: #ffe5fe;
        padding: 5px 40px;
        font-weight: 700;
    }
}