main {
    margin: 100px 25px;

    .img-wrapper {
        width: 50%;

        @media (max-width:425px) {
            width: 100%;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            padding: 20px;
        }
    }
}